In [52]:
# importowanie niezbędnych pakietów 
import patsy
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn import model_selection
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split 

# odczyt dancyh przez funckcji describe() i head()
df=pd.read_csv("D:\\Education\\3 rok AGH\\5 Semestr\\AiBD\\pandas_project\\laboratorium-lin-model-Matyiashchyk\\HEART.csv")

print(df.head())

   age  sex  cp trestbps chol fbs restecg thalach exang  oldpeak slope ca  \
0   28    1   2      130  132   0       2     185     0      0.0     ?  ?
1   29    1   2      120  243   0       0     160     0      0.0     ?  ?
2   29    1   2      140    ?   0       0     170     0      0.0     ?  ?
3   30    0   1      170  237   0       1     170     0      0.0     ?  ?
4   31    0   2      100  219   0       1     150     0      0.0     ?  ?

  thal  num
0    ?           0
1    ?           0
2    ?           0
3    6           0
4    ?           0

In [53]:
#Zamiana ? na NaN.
df2 = df.replace('?', np.NaN) 
print(df2)

     age  sex  cp trestbps chol fbs restecg thalach exang  oldpeak slope   ca  \
0     28    1   2      130  132   0       2     185     0      0.0   NaN  NaN
1     29    1   2      120  243   0       0     160     0      0.0   NaN  NaN
2     29    1   2      140  NaN   0       0     170     0      0.0   NaN  NaN
3     30    0   1      170  237   0       1     170     0      0.0   NaN  NaN
4     31    0   2      100  219   0       1     150     0      0.0   NaN  NaN
..   ...  ...  ..      ...  ...  ..     ...     ...   ...      ...   ...  ...
289   52    1   4      160  331   0       0      94     1      2.5   NaN  NaN
290   54    0   3      130  294   0       1     100     1      0.0     2  NaN
291   56    1   4      155  342   1       0     150     1      3.0     2  NaN
292   58    0   2      180  393   0       0     110     1      1.0     2  NaN
293   65    1   4      130  275   0       1     115     1      1.0     2  NaN

    thal  num
0    NaN           0
1    NaN           0
2    NaN           0
3      6           0
4    NaN           0
..   ...         ...
289  NaN           1
290  NaN           1
291  NaN           1
292    7           1
293  NaN           1

[294 rows x 14 columns]

In [54]:
#Usuwanie wierszy i kolumn(3) zawierające puste dane NaN
df3 = df2.dropna(axis = 'columns',how = 'all') # usuwa kolumny które skłądają się z wartości NaN

df5 = df2.isna().sum()
df3 = df2.drop(['slope', 'ca', 'thal'], axis = 1)
df4 = df3.isna().sum()
df_end = df3.dropna(axis = 0, how = 'any') # usuwamy wierszy które zawierają co najmniej 1 wartość NaN
print(df5,df4, df_end)

age             0
sex             0
cp              0
trestbps        1
chol           23
fbs             8
restecg         1
thalach         1
exang           1
oldpeak         0
slope         190
ca            291
thal          266
num             0
dtype: int64 age            0
sex            0
cp             0
trestbps       1
chol          23
fbs            8
restecg        1
thalach        1
exang          1
oldpeak        0
num            0
dtype: int64      age  sex  cp trestbps chol fbs restecg thalach exang  oldpeak  num
0     28    1   2      130  132   0       2     185     0      0.0           0
1     29    1   2      120  243   0       0     160     0      0.0           0
3     30    0   1      170  237   0       1     170     0      0.0           0
4     31    0   2      100  219   0       1     150     0      0.0           0
5     32    0   2      105  198   0       0     165     0      0.0           0
..   ...  ...  ..      ...  ...  ..     ...     ...   ...      ...         ...
289   52    1   4      160  331   0       0      94     1      2.5           1
290   54    0   3      130  294   0       1     100     1      0.0           1
291   56    1   4      155  342   1       0     150     1      3.0           1
292   58    0   2      180  393   0       0     110     1      1.0           1
293   65    1   4      130  275   0       1     115     1      1.0           1

[261 rows x 11 columns]

In [68]:
# Zapisanie w foramcie dummy dla kolumn cp i restecg
df_dummy = pd.get_dummies(df_end, columns=['cp', 'restecg'], drop_first=True)
# print(df_dummy)
print(df_dummy.iloc[:, 8])

0      0
1      0
3      0
4      0
5      0
      ..
289    1
290    1
291    1
292    1
293    1
Name: num       , Length: 261, dtype: int64

In [70]:
df_train, df_test = train_test_split(df_dummy, test_size=0.2, random_state=888, stratify=df_dummy["num"])


print(df_train.shape)
print(df_test.shape)
print()
print(df_train['target'].value_counts(normalize=True))
print()
print(df_test['target'].value_counts(normalize=True))

KeyError: 'num'